body {
    margin: 0;
    padding: 0;
}



#container {
    display: flex;
    border: 0px solid skyblue;

    width: 101%;
    font-family: sans-serif;



}

#head {
    background-color: navy;
    position: fixed;
    margin-left: 9px;
    color: aliceblue;
    padding: 13px;
    width: 98%;

}

#box1 {
    border: 1px solid skyblue;
    background-color: #fbfbff;
    position: fixed;
    height: 100vh;
    width: 17.5%;
}

#box {
    background-color: #ccc4c43f;
    width: 135%;
    margin-left: 16.6667%;
}

#bt1 {
    border-radius: 10px;
    margin-right: 7px;
    background-color: navy;
    color: aliceblue;
    font-weight: bold;
    padding: 10px;
}


#bt {
    display: flex;
    font-size: small;
    margin: 10px;
}

#main {
    border: 1px solid #4ecdca;
    background-color: #fbfbff;
    padding-top: 20px;
    padding-left: 30px;
    margin-left: 32px;
    margin-bottom: 100px;
    margin-right: 40px;
    border-radius: 20px;
    border-top: #4ecdca;
    border-top: #4ecdca 7px solid;
    margin-top: 40px;
}

#btnn {
    border: 1px solid skyblue;
    border-radius: 7px;
    border-left: 3px solid skyblue;
    background-color: #f8f5f5;
    width: 140px;
    padding: 4px;
}

h4 {
    margin-left: 10px;
}

#quick {
    margin-left: -17px;
}

#dash {
    margin-left: 30px;


}

h4 {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: black;
}

#footer1 {
    padding-left: 20px;
    margin-top: 80%;

}







.sign {
    padding-left: 40px;

}

.bxx {
    border: 1px solid #4ecdca;
    background-color: #f1f3f4;
    width: 400px;
    border-radius: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

#two {
    display: flex;
    gap: 30px;
}

.bxx2 {
    padding-top: 20px;
    border: 1px solid #4ecdca;
    background-color: #f1f3f4;
    width: 857px;
    border-radius: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    height: 120px;
    margin-bottom: 30px;
}

@media (max-width: 700px) {

    form {
        width: 90%;
        margin: 30px auto;
    }
}