 body {
     margin: 0;
     padding: 0;
     height: 120%;
 }


 form {
     display: flex;
     border: 1px solid #4ecdca;
     border-radius: 7px;
     height: 120%;
     width: 100%;
     font-family: sans-serif;
 }


 #head {
     background-color: navy;
     position: fixed;
     top: 0;
     left: 0;
     color: aliceblue;
     padding: 13px;
     width: 100%;
     margin-left: 17.6%;

 }


 #box2 {
     background-color: #F1F3F4;
     width: 100%;
 }

 #box1 {
     border: 1px solid #4ecdca;
     background-color: #FBFBFF;
     top: 0;
     left: 0;
     position: fixed;
     height: 100vh;
     width: 17.5%;
 }


 #bt1 {
     border-radius: 10px;
     margin-right: 7px;
     background-color: navy;
     color: aliceblue;
     font-weight: bold;
     padding: 10px;
 }
 #bt {
     display: flex;
     font-size: small;
     margin: 10px;
 }
 #btnn {
     border: 1px solid #4ecdca;
     border-radius: 7px;
     border-left: 3px solid skyblue;
     background-color: #f8f5f5;
     width: 140px;
     padding: 4px;
     text-decoration: none;
 }
 a {
     text-decoration: none;
     color: black;
 }

 #dash {
     margin-left: 30px;
 }

 h4 {
     margin-left: 10px;

 }

 hr {
     border: 1px solid #4ecdca;
     width: 100%;
     margin-top: 0px;

 }

 #quick {
     margin-left: -17px;
 }

 #four {
     border:1px solid #4ecdca;
     background-color: #FBFBFF;
     border-radius: 20px;
     border-width: 3px;
     border: 1px solid #4ecdca;
     border-top: 7px solid #4ecdca;
     padding-top: 20px;
     padding-left: 30px;
     margin-left: 19.6%;
     margin-top: 40px;
     margin-right: 40px;
     margin-bottom: 20px;
     border-radius: 20px;
    
 }

 #theme {
     display: flex;
     margin-bottom: 40px;


 }

 .th {
     border: 1px solid #4ecdca;
     margin-left: 10px;
     padding-left: 19px;
     border-radius: 20px;
     width: 190px;
     background-color: #F1F3F4;
 }

 .in {
     font-size: small;
 }

 .btn {
     border: 1px solid #4ecdca;
     border-radius: 10px;
     background-color: #4ecdca;
     width: 90%;
     margin-right: 0px;
     margin-left: 0px;
     margin-bottom: 10px;
 }

 #footer {
     display: flex;
     padding-bottom: 20%;
  
 }

 .foot {
     border: 1px solid #4ecdca;
     border-radius: 10px;
     text-align: center;
     margin-left: 10px;
     width: 429px;
     background-color: #F1F3F4;

 }

 #footer1 {
     padding-left: 20px;
     margin-top: 80%;
     padding-bottom: 30px;

 }

 .sign {
     padding-left: 40px;
 }

 @media (max-width: 700px) {

     form {
         display: block;
         width: 100%;
         height: auto;
     }

     #box1 {
         position: relative;
         height: 100vh;
     }

     #box2 {
         width: 100%;
     }

     #four {
         margin-left: 10px;
         margin-right: 10px;
         margin-bottom: 10%;
     }

     #theme {
         display: block;
     }

     .th {
         margin: 10px;
     }

     #footer {
         display: block;
      

     }

     .foot {
         width: auto;
         margin: 10px 0;
     }
 }