body {
    margin: 0;
    padding: 0;
}
      
        form{
        
             display: flex;
            border: 0px solid skyblue;
            width: 100%;
            font-family: sans-serif;
            height: 920px;
        }
       
        a{
            text-decoration: none;
            color: black;
        }

        #head {
            background-color: navy;
            top: 0;
            position: fixed;
            margin-left: 67px;
            color: aliceblue; 
            padding: 13px;
            width: 98%;
        }
        #first{
           height: 100vh;
            width: 235px;
        }

        #box1 {
            border: 1px solid skyblue;
            background-color: #fbfbff;
            position: fixed;
            height: 100vh;
            width: 17.5%;

        }
        

        #bt1 {
            border-radius: 10px;
            margin-right: 7px;
            background-color: navy;
            color: aliceblue;
             font-weight: bold;
            padding: 10px;

        }

        #bt {
            display: flex;
            font-size: small;
            margin: 10px;

        }

        #line {
            color: skyblue;
        }

         #btnn {
           
          border: 1px solid skyblue;
          border-radius: 7px;
          border-left: 3px solid skyblue;
          background-color: #f8f5f5;
          width: 140px;
          padding: 4px;

        }
        body{
            background-color: #F1F3F4;
        }

        #dash {
            margin-left: 30px;
            

            

        }
        h4{
            margin-left: 10px;

        }
        #quick{
            margin-left: -17px;
        }
         #footer1{
            padding-left: 20px;
            margin-top:250%;
        }
        .sign{
            padding-left: 40px;

        }
        .secure{
            
            background-color:#FBFBFF;
            margin-left: 90px;
            padding-left: 30px;
            border-radius: 20px;
            border-width: 3px;
            border: 1px solid skyblue;
            border-top: 7px solid skyblue;
            margin-top: 7%;
            margin-bottom: 70px;
            margin-right: 60px;
            padding-top: 20px;
        

           
            
        }
        #main{
            display: flex;
            background-color: #fbfbff;
        }
        .inp{
            border:   skyblue;
            border-radius: 10px;
          
            padding: 15px;
            margin-right: 15px;
            width: 350px;
            background-color: #f1f3f4;
            margin-top: 6px;
        }
        .use{
            width: 84%;
        }
       
        #foot{
            display: flex;
            margin-bottom: 30px;
        }
       #ft{
        border: 1px solid #4ecdc4;
        padding-left: 30px;
        border-radius: 20px;
        margin-left: 8px;
        margin-bottom: 40px;
        width: 240px;
        height: 150px;
        background-color:   #f1f3f4;
       }
       #btn{
            margin-left: 70%;  
       }
       .clear{
            border: 1px solid #4ecdc4;
            padding:10px;
            border-radius: 10px;
            background-color: #f0f3f4;
            width: 70px;
       }
       .update{
        border: 2px solid;
         padding:10px;
            border-radius: 10px;
            background-color: #4ecdc4;
            width: 140px;
            color:#fbfbff;

       }
       hr{
        color: rgba(95, 244, 244, 0.521);
       }
       #box2{
        width: 140%;
       }
       #footer1{
            padding-left: 20px;
            margin-top: 80%;
        }
        .sign{
            padding-left: 40px;

        
       }
@media (max-width: 700px) {

    form {
        width: 90%;
        margin: 30px auto;
    }
}
      




        


       

        

